.App {
  text-align: center;

  background-color: rgb(3, 54, 3);
  /* background-image: url("/home/kellymaass/MyReact/GardenSpace/frontend/gardener_app/public/leaves.jpg"); ; */
    /* background-image: url("/home/kellymaass/NewRubyLabs/phase-3-project/frontend/gardener_app/public/succulents.jpg");    */
   /* background-repeat: repeat;  */
  font-family: Serif;
  }

  #logo {
    padding: 10px;
    height: 190px;
    width: 200px;
    border-radius: 25px;
    border-color: goldenrod;
    border-style: groove;
  }

  #color {
    margin: auto;
    height: 230px;
    width: 700px;
    border-radius: 25px;
    /* border-color: goldenrod;
    border-style: groove; */
    /* background-image: url("/home/kellymaass/NewRubyLabs/phase-3-project/frontend/gardener_app/public/succulents.jpg");    */
    background-color: rgb(3, 14, 3);
  }

  

  #sent {
    background-color: white;
    width: 200px;
  }
  #removeplant {
    background-color: white;
    height: 100px;
    width: 100px;
  }

  /* #span {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 16px;
     background-color: antiquewhite; 
    color: rgb(5, 5, 5);
    font-weight: bold;
  } */

#plantcontainer {
   position: absolute; 
  background-image: url("/home/kellymaass/MyReact/GardenSpace/frontend/gardener_app/public/leaves.jpg"); ;
  background-color: rgb(243, 250, 247);
  margin: auto;
  height: 700px;
  width: 1300px;
  }



#addgard {
  float: right;
}

#h1 {
  color: white;
  text-align: center;
  margin: auto;
  background-color: gray;
  /* opacity: 80%; */
  width: 200px;
  height: 35px;
}

#gardencontainer {
  margin-top: 0px;
  margin-left: 790px;
  float: right;
  height: 700px;
  width: 1300px;  
  background-color: rgb(94, 151, 2);
}

.editform {
  position: absolute;
  left: 500px;
  top: 300px;
  z-index: 1;
  background-color: chartreuse;
  height: 50px;
  width: 200px;
}

.garden {
  margin: auto;
  background-image: url("https://t3.ftcdn.net/jpg/03/23/07/34/360_F_323073497_Vuc2bWOsOclHsNL66XIm8glX70gDKRKf.webp");
  background-color: coral;
  border-radius: 25px;
  text-align: center;
  font-size: 8px;
  height: 1000px;
  width: 1000px;
  
}

.planttitle {
  font-size: 20px;
  color: white;
  background-color: black;
  position: absolute;
  top: 8px;
  left: 50px;
}

#gg {
  color: white;
  float: right;
  position: relative;
  top: 2px; 
  padding: 5px;
}

#gplant {
  
  /* position: relative;
  top: 2px; 
  padding: 5px; */
  height: 100px;
  width: 100px;
  border-radius: 25px;
}

#title {
  margin: auto;
  background-color: gray;
  color: white;
  width: 300px;
  height: 50px;
}

.plant {
  padding: 15px;
  position: relative;
  margin-left: 5px;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-size: 20px;
  float: left;
  height: 200px;
  width: 200px;
}

#span1 {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: 16px;
   background-color: antiquewhite; 
  color: rgb(5, 5, 5);
  font-weight: bold;
}

#span2 {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-size: 16px;
   background-color: antiquewhite; 
  color: rgb(5, 5, 5);
  font-weight: bold;
}

#span3 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 16px;
   background-color: antiquewhite; 
  color: rgb(5, 5, 5);
  font-weight: bold;
}

#span4 {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
   /* background-color: antiquewhite;  */
  color: rgb(173, 7, 7);
  font-weight: bold;
}

/* #text {
  
  top: 8px;
} */

#plant_image {
  /* margin-left: 10px; */
  border-radius: 25px;
  height: 200px;
  width: 200px;
}

#gbtn {
  float: right;
}

/* #new_plant {
  
  float: right;
  
 
  background-color: rgb(4, 78, 75);
  border-radius: 25px;
  height: 350px;
  width: 300px;
} */

/* #form {
  background-color: white;
   position: relative; 
  text-align: center;
   margin: auto;  
  width: 300px;
  height: 200px;
  border-radius: 25px;
 }  */


