.App {
  text-align: center;
  background-color: green;
 
  background-image: url("/home/kellymaass/NewRubyLabs/phase-3-project/frontend/gardener_app/public/succulents.jpg");
  background-repeat: no-repeat;
}

#plantcontainer {
  height: 300px;
  width: 400px;
  background-color: pink;
  /* bottom: 500px;
  left: 500px; */
}

#gardencontainer {
  float: right; 
  height: 300px;
  width: 1000px;
  background-color: teal;
  
  /* right: 500px; */
}



