.App {
  text-align: center;
  background-color: green;
  background-image: url("/home/kellymaass/NewRubyLabs/phase-3-project/frontend/gardener_app/public/succulents.jpg");
  background-repeat: repeat;
  font-family: Serif;
  }

  #form {
    background-color: white;
   margin: auto;
  }

  #sent {
    background-color: white;
    width: 200px;
  }
  #removeplant {
    background-color: white;
    height: 100px;
    width: 100px;
  }

#plantcontainer {
  
  opacity: 85%;
  margin: auto;
  height: 310px;
  width: 1300px;
  
 
}

#gplant {
  margin-left: 5px;
  color: yellowgreen;
  height: 75px;
  width: 100px;
  border-radius: 25px;

}

#addgard {
  float: right;
}

#h1 {
  color: white;
  text-align: center;

  margin: auto;
  background-color: gray;
  opacity: 80%;
  color: white;
  width: 300px;
  height: 50px;
}

#gardencontainer {

  opacity: 80%;
  margin: auto;
 
  height: 260px;
  width: 1300px;
  background-color: CadetBlue;
}

.editform {
  position: absolute;
  left: 500px;
  top: 300px;
  z-index: 1;
  background-color: chartreuse;
  height: 50px;
  width: 200px;
}

.garden {
  margin: auto;
  background-image: url("https://t3.ftcdn.net/jpg/03/23/07/34/360_F_323073497_Vuc2bWOsOclHsNL66XIm8glX70gDKRKf.webp");
  background-color: coral;
  border-radius: 25px;
  text-align: center;
  font-size: 8px;
  
  height: 200px;
  width: 1300px;
}

#title {
  margin: auto;
  background-color: gray;
  opacity: 80%;
  color: white;
  width: 300px;
  height: 50px;
}

.plant {
  background-color: olive;
  margin-left: 5px;
  border-style: double;
 
  border-radius: 25px;
 
  text-align: center;
  font-size: 12px;
  float: left;
  height: 200px;
  width: 150px;
}

#plant_image {
  margin-left: 10px;
  border-radius: 25px;
  height: 75px;
  width: 100px;
}

#gbtn {
  float: right;
}

#new_plant{
  border-style: dotted;
  background-color: yellow;
  border-radius: 25px;
  height: 350px;
  width: 300px;
}


