body {
  background-color: #f5d39430;
}

h1 {
  display: block;
  padding: 0; 
  margin: 0;
  padding-right: 2%;
  padding-bottom: 1%;

}

.nav-li {
  list-style-type: none;
  padding-top: 1em;
  text-align: center;
  padding-bottom: 1em;

}


.container{
  margin-left: 15%;
}

.bike-card {
  background-color: #aea17660;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  width: 25%;
  margin-right: 0;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.bike-card img {
  max-width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.bike-card p {
  color: #00000099;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #f07f47b8;
  padding: 50px;
  border-radius: 50%;
  /* border: 1px solid #00000060; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-text-box {
  display: block;
  margin: 3em;
  float: left;
}

.form-modal {
  position: fixed; 
  z-index: 1;   
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.form-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;
  height: 40%;
}

.hidden {
  display: none;
}

.card-delete {
  float: right;
  margin: 0px;
  padding: 1em;
}

.exit {
  float: right;
  margin: 0px;
  padding: 1em;
  background-color: #888;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  display: block;
  text-align: right;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-right: 5%;
  background-color: #353030b0;
  width: 100%;
  color: #f07f47b8;
  border-bottom: 5px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title h1:hover {
  text-shadow: 1px 1px 2px #00000099;
}

#nav {
  width: 15%;
  background-color: #aea17660;
  margin: 0;
  padding-bottom: 5%;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#nav ul {
  margin: 0;
  padding-left: 0;
  display: block;
}

#nav li a {
  text-decoration: none;
  color:  #00000099;
  width: 100%;
}

#nav li:hover {
  background-color: #f07f47b8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.exit:hover {
  text-shadow: 1px 1px 2px #00000099;
}

.add-button:hover {
  text-shadow: 1px 1px 2px #00000099;
}